h1 {
  color: #952435;
  font-size: 24px;
  font-family: cursive;
}

body {
  font-family: arial;
  text-align: center;
}

ul {
  display: inline-block;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.orange {
  color: orange;
}
